/* @theme base16 */

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root:where(.catppuccin-mocha) {
  --color-background: #181825;
  --color-foreground: #cdd6f4;
  --color-link: #89b4fa;
}

:root:where(.catppuccin-latte) {
  --color-background: #e6e9ef;
  --color-foreground: #4c4f69;
  --color-link: #1e66f5;
}

section {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: 30px;
  font-family: Lexend, Sans-Serif;
  padding: 20px 40px;
  line-height: 40px;
}

br {
  display: block;
  content: "";
  margin-top: 8px;
}

a {
  color: var(--color-link);
}

li {
  line-height: 38px;
}
